<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/app}">

<head>
    <meta charset="UTF-8">
    <title>welcome</title>
</head>

<body>
    <main layout:fragment="content" th:object="${username}">
        <th:block th:replace="~{layouts/fragments/navegation :: navegation}"></th:block>
        <h1>Bienvenido a la biblioteca</h1>
        <p>Esta es la página de bienvenida de la biblioteca.</p>
        <p>Usuario: [[${username}]]</p>
    </main>

</body>

</html>