<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/app}">

<head>
    <meta charset="UTF-8">
    <title>welcome</title>
</head>

<body>
    <main layout:fragment="content" th:object="${alumno}">
        <th:block th:replace="~{layouts/fragments/navegation :: navegation}"></th:block>
        <h1>Bienvenido a la biblioteca</h1>
        <p>Esta es la página de bienvenida de la biblioteca.</p>
        <p>Usuario: [[${nombre}]]</p>
        <h2>Prestamos:</h2>
        <div>
            <table>
                <tr>
                    <th>Libro</th>
                </tr>
                <tr th:each="prestamo : ${ListaPrestamos}">
                    <td th:text="${prestamo.libro.Titulo}"></td>
                    <td th:text="${prestamo.libro.Editorial}"></td>
                    <td th:text="${prestamo.libro.Edicion}"></td>
                    <td th:text="${prestamo.Fecha_Prestamo}"></td>
                    <td th:text="${prestamo.Fecha_Devolucion}"></td>
                    <td th:text="${prestamo.Estado}"></td>
                    <td>
                        <form
                            th:action="@{/devolucion/{id}/{idUser}(id=${prestamo.Prestamo_ID}, idUser=${prestamo.alumno.alumnoId})}"
                            method="post">
                            <button type="submit" class="btn btn-primary"
                                th:disabled="${prestamo.Estado == 'Devuelto'}">
                                [[${prestamo.Estado == 'Devuelto' ? 'Devuelto' : 'Devolver'}]]
                            </button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </main>

</body>

</html>